<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie App</title>
  <script>
   function redirectToMoviePage(id) {
  // Redirect to mov.html with the movie ID in the URL query string
  window.location.href = `/views/movie-details.ejs?id=${id}`;
}
  </script>
  <script src="app.js" defer></script>
  <style>
    @font-face {
      font-family: myHeadingFont;
      src: url(AlfaSlabOne-Regular.ttf);
    }
        
    main {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    main div {
      width: 250px;
      height: 320px;
      margin: 19px 15px;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 89%;
      object-fit: cover;
      border-radius: 8px 8px 0 0;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    h2 {
      font-size: 15px;
      font-family: sans-serif;
      font-weight: bold;
      text-align: center;
      color: #fff;
      margin: 0;
      padding: 8px;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 0 0 8px 8px;
    }

    #head {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: myHeadingFont;
      margin-bottom: 20px;
    }

    .search {
      width: 300px;
      padding: 10px;
      border: none;
      border-radius: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      margin-top: 10px;
    }

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    a {
      text-decoration: none;
      color: #333;
    }

    a:hover {
      text-decoration: underline;
    }

    a#b_btn,
a#l_btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

a#b_btn:hover,
a#l_btn:hover {
  background-color: #555;
}

div#search{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


  </style>
</head>
<body>
  <a id="b_btn" href="/dashboard">Back</a>
  <br>
  <a id="l_btn" href="/logout">Logout</a>

  <!-- The header that contains the title and the Search bar -->
  <header>
    
    <div id="head">
      <div style="font-weight: bold; font-size: 24px; color: black; ">SEARCH</div>

      <br>
      <form id="form">
        <input type="text" id="search" class="search"/>
      </form>
    </div>
  </header>
  <!-- The main tag where we are going to put all our movies that we got from the API -->
  <main id="main"></main>
  <script>
   // API information.
const apiUrl =
  "https://api.themoviedb.org/3/discover/movie?sort_by=popularity.desc&api_key=cb271ca40b23866a540695b98e939277&page=1";
const IMGPATH = "https://image.tmdb.org/t/p/w1280";
const SEARCHAPI =
  "https://api.themoviedb.org/3/search/movie?&api_key=cb271ca40b23866a540695b98e939277&query=";
// Selecting our Elements.
const main = document.getElementById("main");
const form = document.getElementById("form");
const search = document.getElementById("search");

// Call the showMovies function that requests the movie data from the Api using fetch.
// Then it puts those data in the main HTML tag by creating elements for those data.
showMovies(apiUrl);

function showMovies(url) {
  fetch(url)
    .then((res) => res.json())
    .then(function (data) {
      data.results.forEach((element) => {
        // Creating elements for our data inside the main tag.
        const el = document.createElement("div");
        const image = document.createElement("img");
        const text = document.createElement("h2");
        const link = document.createElement("a");
        const add = document.createElement("button");

        link.href = `/movie-details1?id=${element.id}`;
        link.appendChild(text);
        el.appendChild(link);
        image.src = IMGPATH + element.poster_path;
        text.innerHTML = `${element.title}`;
        el.appendChild(image);
        main.appendChild(el);
      });
    });
}

// Prevent the form from submitting if the search bar is empty.
form.addEventListener("submit", (e) => {
  e.preventDefault();
  main.innerHTML = "";

  const searchTerm = search.value;
  /* Adding the value written in the search bar to the search API,
    in order to get the movies we search for. */
  if (searchTerm) {
    showMovies(SEARCHAPI + searchTerm);
    search.value = "";
  }
});




  </script>
</body>
</html>

 